<div class="container">
    <h1 class="jumbotron text-center" style="background-color:#c6f5ef; padding-top: 20px;padding-bottom: 20px">Student Quiz</h1>
  <div class="row">
  <div class="col-sm-4">
  <div class="thumbnail" style="background-color:#07fafa">
     <div class="thumbnail" style="margin:10%">
     <div style="padding-top:30px"><h2 class="jumbotron text-center">Science-quiz</h2></div>
     </div>
     <div class="text-center" style="padding-bottom:30px">
       <button type="button" routerLink="/quiz1" (click)="onClick(1)" class="btn btn-primary">Start</button>
     </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail" style="background-color:#4cfc80">
       <div class="thumbnail" style="margin:10%">
       <div style="padding-top:30px"><h2 class="jumbotron text-center">Maths-quiz</h2></div>
       </div>
       <div class="text-center" style="padding-bottom:30px">
         <button type="button" routerLink="/quiz1" (click)="onClick(2)" class="btn btn-primary">Start</button>
       </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail" style="background-color:#fa59bc">
         <div class="thumbnail" style="margin:10%">
         <div style="padding-top:30px"><h2 class="jumbotron text-center">Social-quiz</h2></div>
         </div>
         <div class="text-center" style="padding-bottom:30px">
           <button type="button" routerLink="/quiz1" (click)="onClick(3)" class="btn btn-primary">Start</button>
         </div>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail" style="background-color:#f58d50">
         <div class="thumbnail" style="margin:10%">
         <div style="padding-top:30px"><h2 class="jumbotron text-center">English-Quiz</h2></div>
         </div>
         <div class="text-center" style="padding-bottom:30px">
           <button type="button" routerLink="/quiz1" (click)="onClick(4)" class="btn btn-primary">Start</button>
         </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail" style="background-color:#fc2424">
           <div class="thumbnail" style="margin:10%">
           <div style="padding-top:30px"><h2 class="jumbotron text-center">GK-quiz</h2></div>
           </div>
           <div class="text-center" style="padding-bottom:30px">
             <button type="button" routerLink="/quiz1" (click)="onClick(5)" class="btn btn-primary">Start</button>
           </div>
        </div>
        </div>
  </div>
  </div>
  
  