.btn{
    border-radius: 3px;
    background-color: #fc2a2a;
    color:white;
}
.lis{
    width:50%;
    padding-top: 30px;
}
.bod{
    border:5px inset;
    border-radius: 20px;
    border-color: blanchedalmond;
    background-color: #f9dbd3; 
    width:60%;
    margin-left:20%;
    margin-top: 20%;

}
.reg{
    padding-left: 60%;
    
}